@import url("https://fonts.googleapis.com/css2?family=Rajdhani&family=Righteous&family=Russo+One&family=Work+Sans:wght@200;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: all 0.5s ease;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  //colors
  --dark-background: rgb(84, 72, 72);
  --dark-color: rgb(255, 255, 255);
  --poll-background: rgb(237, 217, 217);
  --poll-color: rgb(26, 102, 157);
  --genre-background: rgb(128, 193, 232);
  --genre-color: rgb(26, 102, 157);
  --votes-border: rgb(79, 161, 48);
  --votes-color: rgb(48, 112, 40);
  --question-color: rgb(53, 55, 55);
  --id-border: rgb(170, 110, 37);
  --id-background: rgb(236, 130, 0);
  --id-color: rgb(103, 65, 8);
  --time-color: rgb(151, 151, 151);
  --submitVote-background: rgb(98, 194, 63);
  --submitVote-color: rgb(30, 88, 23);

  --edit-background: rgb(79, 188, 251);
  --edit-color: rgb(0, 102, 186);
  --edit-border: rgb(7, 156, 197);

  --delete-background: rgb(236, 71, 71);
  --delete-color: rgb(165, 18, 18);
  --delete-border: rgb(197, 38, 38);

  --expired-background: rgb(254, 76, 60);
  --expired-color: rgb(174, 0, 0);

  --login-button-background: rgb(66, 167, 230);
  --login-button-color: rgb(5, 88, 140);

  --error-color: rgb(248, 61, 61);
  --error-border: rgb(204, 18, 18);

  --selection-background: rgb(243, 192, 121);
  --selection-color: rgb(139, 105, 25);

  --poll-options: rgb(228, 227, 227);

  --slider-background: rgb(196, 196, 196);

  --result-winner: rgba(39, 179, 24, 0.538);
}

html {
  background-color: rgb(52, 46, 46);
}

body {
  position: relative;
  color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .image-container {
    position: fixed;
    top: 0;
    z-index: -4;
    width: 100vw;
    height: 100vh;

    .img {
      position: relative;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.header {
  background: linear-gradient(to bottom, rgba(179, 165, 165, 0.1) 90%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  z-index: 5;

  div {
    padding: 0.2rem;
  }

  .header-title {
    cursor: pointer;

    img {
      width: 5rem;
    }
  }

  .header-auth {
    margin-left: auto;
    margin-right: 1rem;
    font-size: 1.3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    a {
      text-transform: uppercase;
      background: none;
      border: none;
      color: var(--dark-color);
      font-size: 1.3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.description {
  font-size: 1rem;
  margin: 5rem 0 1.8rem 0;
  z-index: 2;
  text-align: center;

  a {
    color: var(--genre-background);
  }
}

.admin-new {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;

  .admin-new-poll,
  .admin-new-group {
    margin: 0.6rem 0 0 0;
    padding: 0.6rem 1.1rem;
    background-color: var(--login-button-background);
    border-radius: 11px;
    box-shadow: 0 0 8px 1px var(--login-button-background);

    a {
      text-transform: uppercase;
      color: var(--login-button-color);
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 1px 8px 1px var(--login-button-background);
    }
  }
}

.polls-container {
  width: 60%;
  margin: 0 0 4rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .polls-title {
    align-self: flex-start;
    margin: 1.2rem 0 0 2rem;
    font-size: 2rem;
    text-shadow: 0 0 5px var(--poll-background);
  }

  details {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem 0;

    summary {
      margin: 1.2rem 0 0 2rem;
      font-size: 2rem;
      text-shadow: 0 0 5px var(--poll-background);
    }

    p {
      text-align: center;
      margin: 0 0 1rem 0;
    }
  }

  .poll {
    background-color: var(--poll-background);
    box-shadow: 0 2px 8px 2px rgb(185, 180, 180);
    width: 100%;
    margin: 1.7rem 0;
    padding: 1.9rem 2.3rem 1.4rem 2.3rem;
    border-radius: 10px;
    position: relative;
    transition: 0.5s ease;

    .poll-id {
      position: absolute;
      top: -0.8rem;
      left: -1.2rem;
      background-color: var(--id-background);
      color: var(--id-color);
      border: 3px solid var(--id-border);
      padding: 0.4rem 0.8rem;
      border-radius: 2rem;
    }

    .poll-genre {
      width: fit-content;
      text-transform: uppercase;
      font-size: 0.8rem;
      background-color: var(--genre-background);
      color: var(--genre-color);
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      margin: -0.2rem 0 0 0;
    }

    .poll-question {
      font-size: 2rem;
      padding: 1rem 0.3rem;
      width: 100%;
      color: var(--question-color);
    }

    .poll-times {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      position: relative;
      color: var(--time-color);

      .poll-createdAt,
      .poll-deadline,
      a {
        padding: 0.5rem;
      }

      .poll-createdAt {
      }

      .poll-createdAt::after {
        content: "→";
        font-size: 20px;
        vertical-align: middle;
        margin-left: 1rem;
        color: rgb(123, 118, 118);
      }

      .poll-deadline {
        margin-right: auto;
      }

      form,
      a {
        margin-left: auto;
        text-transform: uppercase;
        font-size: 0.8rem;
        border-radius: 1rem;
        padding: 0.5rem 1.2rem;
        border: none;
      }

      a {
        background-color: var(--submitVote-background);
        color: var(--submitVote-color);

        &:hover {
          cursor: pointer;
          box-shadow: inset 0 0 0 3px var(--submitVote-background);
          background-color: var(--poll-background);
        }
      }
    }

    .poll-votes {
      position: absolute;
      top: -0.8rem;
      right: -1.2rem;
      background-color: var(--votes-border);
      color: var(--submitVote-color);
      border: 3px solid var(--votes-color);
      padding: 0.5rem 0.8rem;
      border-radius: 2rem;
    }

    .poll-admin-edit,
    .poll-admin-delete {
      position: absolute;
      text-transform: uppercase;
      font-size: 0.8rem;
      border-radius: 1rem;
      padding: 0.5rem 1.2rem;
      border: none;
      bottom: -0.8rem;

      &:hover {
        cursor: pointer;
        background-color: var(--poll-background);
      }
    }

    .poll-admin-edit {
      left: -1.3rem;
      background-color: var(--edit-background);
      color: var(--edit-color);
      box-shadow: inset 0 0 0 3px var(--edit-border);

      &:hover {
        box-shadow: inset 0 0 0 3px var(--edit-border);
      }
    }

    .poll-admin-delete {
      right: -1.3rem;
      background-color: var(--delete-background);
      color: var(--delete-color);
      box-shadow: inset 0 0 0 3px var(--delete-border);

      &:hover {
        box-shadow: inset 0 0 0 3px var(--delete-border);
      }
    }

    .expired {
      background-color: var(--error-color);
      border-color: var(--error-border);
      color: var(--expired-color);
    }

    hr {
      margin-top: 1rem;
    }

    .results-container {
      width: 99%;
      margin: 1rem auto 0 auto;
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.7rem;
      color: var(--question-color);
      position: relative;
      flex-wrap: wrap;

      .answer-container {
        background-color: var(--poll-options);
        width: 22%;
        height: 13rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px 0.5px var(--dark-background);
        text-transform: uppercase;
        text-align: center;

        p {
          font-size: 0.9rem;
        }

        .vote {
          font-size: 2rem;
          opacity: 0.5;
        }

        hr {
          margin-top: 0.5rem;
          margin-bottom: auto;
          width: 100%;
        }

        .answer-name {
        }

        .percentage {
          font-size: 1.7rem;
        }
      }
    }

    &:hover {
      transition: 0.5s ease;
      box-shadow: 0 2px 8px 2px var(--votes-border);
      cursor: grab;
    }
  }
}

// -------------------------- LOGIN.PHP --------------------------

.login-container,
.register-container {
  background-color: var(--poll-background);
  color: var(--question-color);
  width: 35%;
  position: absolute;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  border-radius: 1rem;

  .logo {
    margin: 0 0 1.5rem 0;

    img {
      width: 5rem;
    }
  }

  .login-title,
  .register-title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0.2rem 0 0 0;
  }

  form {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.2rem 0 0.5rem 0;
    padding: 0.4rem 0 1rem 0;
    transition: 0.2s ease all;

    input,
    button,
    a {
      width: 70%;
      margin: 0.7rem 0;
      padding: 0.7rem 0.7rem;
      border-radius: 0.4rem;
      border: none;
    }

    input,
    a {
      outline: none;
      font-size: 16px;
    }

    span {
      position: absolute;
      pointer-events: none;
      opacity: 0.45;
      transition: 0.2s ease all;
    }

    .floating-username {
      top: 12%;
      left: 18%;
      transition: 0.2s ease all;
    }

    .floating-password {
      top: 39%;
      left: 18%;
      transition: 0.2s ease all;
    }

    .floating-register-username {
      top: 8%;
      left: 18%;
      transition: 0.2s ease all;
    }

    .floating-register-email {
      top: 25.5%;
      left: 18%;
      transition: 0.2s ease all;
    }

    .floating-register-password {
      top: 43.2%;
      left: 18%;
      transition: 0.2s ease all;
    }

    .floating-confirm-password {
      top: 61%;
      left: 18%;
      transition: 0.2s ease all;
    }

    .login-username:focus + .floating-username,
    .login-username:not(:placeholder-shown) + .floating-username {
      top: 4%;
      left: 17%;
      font-size: 14px;
      transition: 0.2s ease all;
      opacity: 0.6;
    }

    .login-password:focus + .floating-password,
    .login-password:not(:placeholder-shown) + .floating-password {
      top: 31%;
      left: 17%;
      font-size: 14px;
      transition: 0.2s ease all;
      opacity: 0.6;
    }

    .register-username:focus + .floating-register-username,
    .register-username:not(:placeholder-shown) + .floating-register-username {
      top: 2.5%;
      left: 17%;
      font-size: 14px;
      transition: 0.2s ease all;
      opacity: 0.6;
    }

    .register-email:focus + .floating-register-email,
    .register-email:not(:placeholder-shown) + .floating-register-email {
      top: 20.5%;
      left: 17%;
      font-size: 14px;
      transition: 0.2s ease all;
      opacity: 0.6;
    }

    .register-password:focus + .floating-register-password,
    .register-password:not(:placeholder-shown) + .floating-register-password {
      top: 38%;
      left: 17%;
      font-size: 14px;
      transition: 0.2s ease all;
      opacity: 0.6;
    }

    .register-confirm-password:focus + .floating-confirm-password,
    .register-confirm-password:not(:placeholder-shown) + .floating-confirm-password {
      top: 56%;
      left: 17%;
      font-size: 14px;
      transition: 0.2s ease all;
      opacity: 0.6;
    }

    button {
      margin: 1.4rem 0;
      background-color: var(--login-button-background);
      color: var(--login-button-color);
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0 0 4px 0.4px var(--login-button-color);

      &:hover {
        background-color: var(--poll-background);
        box-shadow: inset 0 0 0 3px var(--login-button-background), 0 0 4px 0.4px var(--login-button-color);
      }
    }

    .error {
      color: var(--error-color);
      font-size: 14px;
      position: absolute;
      opacity: 1;
    }

    .error-login-username {
      top: 22%;
      right: 18%;
    }

    .error-login-password {
      top: 49%;
      right: 18%;
    }

    .error-register-username {
      top: 14%;
      right: 18%;
    }

    .error-register-email {
      top: 31.8%;
      right: 18%;
    }

    .error-register-password {
      top: 49.5%;
      right: 18%;
    }

    .error-register-confirm-password {
      top: 67%;
      right: 18%;
    }
  }

  hr {
    width: 90%;
    margin: 0 0 2rem 0;
  }

  p {
    color: var(--time-color);
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: -5px;
  }

  .go-to-register,
  .go-to-login {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form {
      input {
        background-color: var(--login-button-background);
        color: var(--login-button-color);
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 0 0 4px 0.4px var(--login-button-color);

        &:hover {
          background-color: var(--poll-background);
          box-shadow: inset 0 0 0 3px var(--login-button-background), 0 0 4px 0.4px var(--login-button-color);
        }
      }
    }
  }

  a {
    margin: 1rem 0 0 0;
    font-size: 14px;
    color: var(--login-button-color);
  }
}

// -------------------------- VOTING.PHP --------------------------

.poll-container {
  background-color: var(--poll-background);
  color: var(--question-color);
  width: 70%;
  margin: 10rem 0 3.5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  border-radius: 1rem;

  .poll-genre-selection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: auto;
    margin-left: 10%;

    .poll-genre,
    .poll-selection {
      width: fit-content;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      margin: 1.5rem auto 0 0;
    }

    .poll-genre {
      background-color: var(--genre-background);
      color: var(--genre-color);
      margin-right: 1rem;
    }

    .poll-selection {
      background-color: var(--selection-background);
      color: var(--selection-color);
      margin-left: 1rem;
    }
  }

  .poll-question {
    font-size: 2rem;
    padding: 0.8rem 0.3rem;
    width: 70%;
    margin: 1rem 1rem;
    margin-right: auto;
    margin-left: 4%;
  }

  .poll-createdAt,
  .poll-deadline {
    position: absolute;
    color: var(--time-color);
    margin: 0.4rem 0 0 auto;
    right: 5%;
  }

  .poll-createdAt {
    top: 1.5rem;
  }

  .poll-createdAt::after {
    content: "↓";
    font-size: 24px;
    position: absolute;
    right: 45%;
    top: 1.25rem;
  }

  .poll-deadline {
    top: 4.5rem;
  }

  .poll-options-total {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .polls-form {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .poll-options {
        width: 70%;

        .poll-option {
          background-color: var(--poll-options);
          box-shadow: 0 0 8px 2px var(--time-color);
          width: 92%;
          border-radius: 10px;
          margin: 1.5rem 0;
          margin-top: 0;
          margin-right: auto;
          margin-left: 5%;
          padding: 1rem 2rem;
          position: relative;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            cursor: pointer;
            z-index: 5;
            opacity: 0;
          }

          .poll-option-percentage {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            font-size: 1.7rem;
          }

          .slider-percentage {
            background-color: var(--slider-background);
            height: 10px;
            padding: 0.5rem 0 0 0;
            margin: 0.8rem 0 0 0;
            border-radius: 5px;
            position: relative;

            .slider-value {
              position: absolute;
              top: 0;
              left: 0;
              height: 10px;
              border-radius: 5px;
            }
          }

          .num-votes {
            padding: 0.5rem 0 0 0;
            margin: 0.5rem 0 0 0;
            opacity: 0.52;
          }

          &:hover {
            cursor: pointer;
            transition: 0.5s ease;
            box-shadow: 0 2px 8px 2px var(--votes-color);
            transform: scale(1.02);
          }
        }

        .poll-option:last-child {
          margin-bottom: 2rem;
        }

        .selected {
          box-shadow: 0 0 8px 2px var(--time-color), inset 0 0 0 4px var(--submitVote-background);
          transition: 0s;
          margin-left: 7.5%;

          &:hover {
            cursor: pointer;
            transition: 0.5s ease;
            box-shadow: 0 2px 8px 2px var(--votes-color), inset 0 0 0 4px var(--submitVote-background);
            transform: scale(1.02);
          }
        }
      }

      .poll-total {
        width: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-top: auto;
        margin-bottom: 2rem;
        margin-right: 1rem;

        .total {
          margin-top: 1rem;
          width: 90%;
          padding: 1.5rem;
          text-transform: uppercase;
          font-size: 2.3rem;
          text-align: center;
          background-color: var(--poll-options);
          box-shadow: 0 0 4px 1px var(--submitVote-color);
          border-radius: 0.5rem;

          p {
            margin-top: 0.5rem;
            margin-bottom: 0.2rem;
            font-size: 0.8rem;
            opacity: 0.6;
          }

          hr {
            margin: 1rem;
            margin-top: 1.5rem;
            color: black;
          }

          .error-message {
            color: var(--error-color);
            font-size: 1rem;
            text-transform: none;
          }

          button {
            width: 90%;
            padding: 1rem 0.7rem;
            border-radius: 0.4rem;
            border: none;
            background-color: var(--submitVote-background);
            color: var(--submitVote-color);
            text-transform: uppercase;
            margin-top: 1rem;
            margin-bottom: 0;

            &:hover {
              cursor: pointer;
              box-shadow: inset 0 0 0 3px var(--submitVote-background);
              background-color: var(--poll-options);
            }
          }
        }
      }
    }
  }

  span {
    color: var(--submitVote-color);
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: 0 0 5px var(--submitVote-background);
  }

  a {
    margin: 1rem 0 0 0;
    font-size: 14px;
    color: var(--login-button-color);

    &:hover {
      cursor: pointer;
    }
  }
}

// -------------------------- ADMIN.PHP --------------------------

.admin-container {
  width: 60%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;

  .admin-title {
    align-self: flex-start;
    font-size: 2rem;
    text-shadow: 0 0 5px var(--poll-background);
  }

  .groups {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .admin-create-container {
    background-color: var(--poll-background);
    color: var(--question-color);
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;

    span {
      color: var(--error-color);
      position: absolute;
      bottom: -3px;
      right: 2rem;
      font-size: 14px;
    }

    form {
      width: 100%;
      position: relative;

      div {
        margin: 1rem 0.5rem 1.5rem 0.5rem;
        width: 100%;
        position: relative;

        p {
          margin: 0.4rem 0.2rem;
          opacity: 0.7;
          position: relative;
        }

        input {
          width: 98%;
          height: 5rem;
          resize: none;
          border-radius: 0.5rem;
          padding: 1rem;
          border: none;
          outline: none;
          box-shadow: 0 0 10px 0.1px var(--time-color);
          transition: 0.5s ease;
          position: relative;

          &:focus {
            transition: 0.5s ease;
            box-shadow: inset 0 0 0 3px var(--submitVote-background), 0 0 10px 0.1px var(--time-color);
          }
        }
      }

      .create-option-container {
        width: 100%;
        position: relative;

        div {
          margin: 1rem 0.5rem 1.5rem 0;
          width: 100%;
          position: relative;

          p {
            margin: 0.4rem 0.2rem;
            opacity: 0.7;
          }

          input {
            height: 3rem;
            position: relative;
          }

          span {
            bottom: -0.5rem;
          }
        }
      }

      .change-num-option {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 2rem;
        margin-top: -10px;
        margin-left: 2rem;
        margin-bottom: 0;
        position: relative;

        .increase-option,
        .decrease-option {
          width: fit-content;
          background-color: var(--login-button-background);
          color: var(--login-button-color);
          cursor: pointer;
          box-shadow: 0 0 4px 0.4px var(--login-button-color);
          padding: 0.6rem 1rem;
          text-transform: uppercase;
          border-radius: 0.3rem;
          transition: 0.5s ease;
          position: relative;

          &:hover {
            transition: 0.5s ease;
            background-color: var(--poll-background);
            box-shadow: inset 0 0 0 3px var(--login-button-background), 0 0 4px 0.4px var(--login-button-color);
          }
        }
      }

      hr {
        margin-top: 1rem;
      }

      .multiple-select {
        width: 100%;

        select {
          width: 10rem;
          text-align: center;
          border-radius: 0.3rem;
          padding: 0.6rem 1rem;
          border: none;
          outline: none;
          box-shadow: 0 0 8px 0.5px var(--time-color);

          option {
            padding: 0.2rem;
            border: none;
            outline: none;
            border-radius: 0.3rem;

            &:hover,
            &:focus {
              cursor: pointer;
              background-color: rgb(185, 215, 251);
            }
          }
        }
      }

      .group-category {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.2rem;
        position: relative;

        select {
          height: 2.2rem;
          border: none;
          border-radius: 0.3rem;
          width: 60%;
          padding: 0.6rem 1rem;
          outline: none;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .create-poll-options {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0;

        .create-category,
        .options-multiple,
        .options-end-date {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.2rem;
          position: relative;

          input,
          select {
            height: 2.2rem;
            border: none;
            border-radius: 0.3rem;
            width: 80%;
            padding: 0.6rem 1rem;
            outline: none;

            &:hover {
              cursor: pointer;
            }
          }

          span {
            bottom: -1.5rem;
          }

          .checkbox {
            width: 2.2rem;
          }
        }

        .create-category {
        }

        .options-multiple {
        }

        .options-end-date {
        }
      }

      button {
        padding: 0.6rem 1rem;
        margin: 1rem 0;
        background-color: var(--submitVote-background);
        color: var(--submitVote-color);
        text-transform: uppercase;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
        box-shadow: 0 0 10px 0.02px var(--submitVote-color);
        transition: 0.5s ease;

        &:hover {
          transition: 0.5s ease;
          background-color: var(--poll-background);
          box-shadow: inset 0 0 0 3px var(--submitVote-background), 0 0 4px 0.4px var(--submitVote-color);
        }
      }
    }

    a {
      margin: 0 auto;
      font-size: 14px;
      color: var(--login-button-color);
    }
  }

  .admin-groups {
    color: var(--question-color);
    width: 100%;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
    position: relative;

    .group {
      background-color: var(--poll-background);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px 0.5px var(--time-color);
      padding: 1.5rem 1rem;
      border-radius: 0.5rem;
      position: relative;

      .group-title {
        text-transform: uppercase;
      }

      .group-member {
        padding: 0.2rem 0;
        opacity: 0.6;
      }

      hr {
        margin: 0.6rem auto;
        width: 80%;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
